@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-05-16 20:57:21
 * @version $Id$
 */
.b-title
{
    display: flex;
    position: fixed !important;
    left: 0;
    top:0;
    width:100%;
    height:60px;
    background:#fff;
    justify-content: center;
    box-shadow:10px 0px 10px rgba(0,0,0,0.3);
    z-index:10;
}
.b-title ul
{
    height:60px;
    margin:0px auto;
}
.b-title ul li
{
    display:inline-block;
    vertical-align:top;
    *display:inline;
    *zoom:1;
    height:60px;
}
.b-title ul li a.link
{
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 0px 24px;
    vertical-align: top;
    line-height: 60px;
    color: #444;
    font-size: 18px;
    font-family: Microsoft Yahei,黑体;
    font-weight: bold;
    
}
.b-title ul li a.link strong
{
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:60px;
    height:60px;
    vertical-align:top;
    font-weight:bold;
    text-align: center;
}
.b-title ul li:hover
{
    cursor:pointer;
    background:#fafafa;
}
.b-current
{
    display: inline-block;
    height: 60px;
    vertical-align: top;
}
.b-title ul li.b-canteen a strong
{
    height:56px;
    overflow:hidden;
    border-bottom:4px solid #ff3232;
}
.canteen-box
{
    display: flex;
    left: 0;
    top: 0;
    width: 100px;
    height: 200px;
    margin-left: 4px;
    border: 2px solid #d1ecff; 
    background: white;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    transition: height 0.5s;
}
.canteen-box a
{
    margin:5px;
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}
.canteen-box a:hover
{
    color: #EB3F2F;
    text-decoration: none;
}
.l-logo {
    display: flex;
    position: relative;
    height: 300px;
    width: 100%;
	color: green;
	font-size: 80px;
    font-family:'jdlibianjianb21eb005a1917d';
    text-align: center;
	flex-direction: column;
	align-items: center;
    justify-content: flex-end;
}

.l-bck {
	position: absolute;
	top: 400px;
	width: 100%;
}
.l-choose {
    display: flex;
<<<<<<< HEAD
    justify-content: center;        
    position: relative;    
	height: 200px;
	width: 100%;
=======
    position: relative;
	height: 200px;
	width: 100%;
	justify-content: center;
>>>>>>> a7090d753f6771e0c6d16ea03b732869a6cc6694
}
.l-navbar {
<<<<<<< HEAD
    position: absolute;    
    bottom: 0;    
=======
    position: absolute;
    bottom: 0;
>>>>>>> a7090d753f6771e0c6d16ea03b732869a6cc6694
    width: 150px;
    height: 150px;
    margin: 70px auto;
    border: 1px solid #99b977;
    border-radius: 50%;
    color: #99b977;
    background: green;
<<<<<<< HEAD
    margin: 70px auto;
    border: 1px solid #99b977;    
    cursor: pointer;
    text-align: center;
=======
>>>>>>> a7090d753f6771e0c6d16ea03b732869a6cc6694
    font-size: 1.75em;
    font-weight: bold;
    line-height: 150px;
    cursor: pointer;
    text-align: center;
    transition: 0.24s 0.2s;
}
.l-navbar:hover {
    background: white;
}
.l-navbar .l-choose-menu {
    position: absolute;
    top: -75px;
<<<<<<< HEAD
    left: -75px;    
    padding: 0;
    margin: 0;
=======
    left: -75px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
>>>>>>> a7090d753f6771e0c6d16ea03b732869a6cc6694
    border: 150px solid transparent;
    list-style: none;    
    cursor: default;
    list-style: none;
    transform: scale(0);
    transition: transform 1.4s 0.07s;
    z-index: -1;
}
.l-navbar:hover .l-choose-menu {
    transition: transform 0.4s 0.08s, z-index 0s 0.5s;
    transform: scale(1);
    z-index: 1;
}
.l-navbar .l-choose-menu li {
    position: absolute;
    top: -100px;
    left: -100px;
    transform-origin: 100px 100px;
    transition: all 0.5s 0.1s;
}
.l-navbar:hover .l-choose-menu li {
    transition: all 0.6s;
}
.l-navbar .l-choose-menu li a{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #99b977;
    background: green;
    font-size: 65%;
    line-height: 45px;
    transition: 0.6s;
}
.l-navbar:hover .l-choose-menu li:nth-child(1){
    transition-delay: 0.02s;
    transform: rotate(85deg);
}
.l-navbar:hover .l-choose-menu li:nth-child(1) a{
    transition-delay: 0.04s;
    transform: rotate(635deg);
}
.l-navbar:hover .l-choose-menu li:nth-child(2){
    transition-delay: 0.04s;
    transform: rotate(125deg);
}
.l-navbar:hover .l-choose-menu li:nth-child(2) a{
    transition-delay: 0.08s;
    transform: rotate(595deg);
}
.l-navbar:hover .l-choose-menu li:nth-child(3){
    transition-delay: 0.06s;
    transform: rotate(165deg);
}
.l-navbar:hover .l-choose-menu li:nth-child(3) a{
    transition-delay: 0.12s;
    transform: rotate(555deg);
}
.l-navbar:hover .l-choose-menu li:nth-child(4){
    transition-delay: 0.08s;
    transform: rotate(205deg);
}
.l-navbar:hover .l-choose-menu li:nth-child(4) a{
    transition-delay: 0.16s;
    transform: rotate(515deg);
}
.l-navbar:hover .l-choose-menu li:nth-child(5){
    transition-delay: 0.1s;
    transform: rotate(245deg);
}
.l-navbar:hover .l-choose-menu li:nth-child(5) a{
    transition-delay: 0.2s;
    transform: rotate(475deg);
}
.l-navbar:hover .l-choose-menu li:nth-child(6){
    transition-delay: 0.12s;
    transform: rotate(285deg);
}
.l-navbar:hover .l-choose-menu li:nth-child(6) a{
    transition-delay: 0.24s;
    transform: rotate(435deg);
}
.l-navbar:hover .l-choose-menu li:nth-child(7){
    transition-delay: 0.14s;
    transform: rotate(325deg);
}
.l-navbar:hover .l-choose-menu li:nth-child(7) a{
    transition-delay: 0.28s;
    transform: rotate(395deg);
}
.l-navbar:hover .l-choose-menu li:nth-child(8){
    transition-delay: 0.16s;
    transform: rotate(365deg);
}
.l-navbar:hover .l-choose-menu li:nth-child(8) a{
    transition-delay: 0.32s;
    transform: rotate(355deg);
}
.l-navbar:hover .l-choose-menu li:nth-child(9){
    transition-delay: 0.18s;
    transform: rotate(405deg);
}
.l-navbar:hover .l-choose-menu li:nth-child(9) a{
    transition-delay: 0.36s;
    transform: rotate(315deg);
}

.l-food-menu {
    display: flex;
    width: 100%;
    justify-content: center;
}
.l-food-class {
    display: flex;
    height: 1180px;
    width: 300px;
    margin: auto;
<<<<<<< HEAD
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
=======
>>>>>>> a7090d753f6771e0c6d16ea03b732869a6cc6694
    border:20px solid transparent;
    border-image:url("../img/border.jpg");
    border-image-repeat: stretch;
    border-image-slice:27 27 27 27;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.l-class-word {
    display: flex;
    height: 50px;
    font-size: 30px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}
.l-food-cnt {
    display: flex;
    width: 100%;
<<<<<<< HEAD
=======
    padding: 0 !important;
>>>>>>> a7090d753f6771e0c6d16ea03b732869a6cc6694
    flex-wrap: wrap;
	justify-content: center;
}

.l-food-cnt li{
    position: relative;
    width: 200px;
    height: 250px;
    margin-bottom: 20px;
    background-color: #fff;
	overflow: hidden;
}
.l-food-img-back, .l-food-img-front{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 250px;
    background-color: #fff;
}
.l-food-img-3d {
    position: relative;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
	transform-style: preserve-3d;
}
.l-food-img-back {
	transform: rotateY(180deg);
}
.l-food-img-back img{
    height: 100%;
    width: 100%;
}
.l-food-img-front img{
	height: 100%;
	width: 100%;
}
.l-food-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 250px;
}
.l-food-mask-son {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    flex-direction: column;
    align-items: center;
    display: none;
}

.l-food-mask p{
    margin-top: 45px;
    color: #fff;
    font-size: 25px;
}
.l-food-mask a{
    display: block;
    width: 70px;
    height: 18px;
    border-radius: 9px;
    color: #fff;
    background-color: red;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
}
.l-food-price {
    display: flex;
	width: 100%;
	color: white;
	font-size: 18px;
	align-items: center;
	justify-content: center;
}
.l-fa {
    display: flex;
	height: 80px;
	width: 35%;
    color: white;
	font-size: 20px;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.l-rotatel {
	transition: .3s linear;
	transform-origin:center center;
    transform: rotate(360deg);
}
.l-rotater {
	transition: .3s linear;
	transform-origin:center center;
    transform: rotate(0deg);
}