@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-05-16 20:57:21
 * @version $Id$
 */
*{
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(245,246,235);
}

.b-title
{
	display: flex;
	position: fixed !important;
	left: 0;
	top:0;
	width:100%;
	height:60px;
	background:#fff;
	justify-content: center;
	box-shadow:10px 0px 10px rgba(0,0,0,0.3);
	z-index:10;
}
.b-title ul
{
	height:60px;
	margin:0px auto;
}
.b-title ul li
{
	display:inline-block;
	vertical-align:top;
	*display:inline;
	*zoom:1;
	height:60px;
}
.b-title ul li a.link
{
	display: inline-block;
	position: relative;
    height: 60px;
    padding: 0px 24px;
    vertical-align: top;
    line-height: 60px;
    color: #444;
    font-size: 18px;
    font-family: Microsoft Yahei,黑体;
    font-weight: bold;
    
}
.b-title ul li a.link strong
{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:60px;
	height:60px;
	vertical-align:top;
	font-weight:bold;
	text-align: center;
}
.b-title ul li:hover
{
	cursor:pointer;
	background:#fafafa;
}
.b-current
{
	display: inline-block;
	height: 60px;
    vertical-align: top;
}
.b-title ul li.b-canteen a strong
{
	height:56px;
	overflow:hidden;
	border-bottom:4px solid #ff3232;
}
.canteen-box
{
	display: flex;
    left: 0;
    top: 0;
    width: 100px;
    height: 200px;
    margin-left: 4px;
    border: 2px solid #d1ecff; 
    background: white;
    flex-wrap: wrap;
	align-content: center;
	justify-content: center;
    transition: height 0.5s;
}
.canteen-box a
{
	margin:5px;
	color: black;
	font-weight: bold;
	font-size: 14px;
 	text-decoration: none;
}
.canteen-box a:hover
{
	color: #EB3F2F;
 	text-decoration: none;
}

.l-welcom {
	height: 100px;
	width:100%;
	/*background-color: rgb(132,242,104);*/
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.l-canteenname {
	height: 120px;
/*	width: 100%;*/
	color: rgb(242,159,63);
	font-size: 85px;
	font-weight: 600;
	font-family:'方正字迹-典雅楷体简体';
}

.l-welcomword {
	font-family: "方正苏新诗柳楷简体";
	height: 100px;
	width: 100%;
	margin-left: 20px;
	color: rgb(242,159,63);
	font-size: 50px;
	font-style:normal;
}

.l-cnt {
	width: 100%;
}
.l-store-row {
	height: 450px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.l-store {
	height: 400px;
	width: 45%;
	margin: 50px 25px 25px 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	transition: top 0.3s;
	top: 0px;
}
.l-store:hover {
	top: -15px;
}
.l-store-cnt {
	background: rgb(242,159,63);
	height: 300px;
	width: 100%;
	display: flex;
}
.l-store-intro {
	height: 100%;
	width: 50%;
	display: flex;
	padding-left: 2%;
	padding-right: 2%;
	align-items: center;
	justify-content: center;
	color:white;
}
.l-store-img {
	height: 100%;
	width: 50%;
}
.l-store-img-cpy {
	background: rgba(0,0,0,0.3);
	position: absolute;
	height: 0;
	width: 50%;
	top: 0;
	left: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	color: white;
	opacity: 0;
	transition: height 0.5s;
	transition: width 0.5s;
}
.l-store-title {
	height: 100px;
	width: 100%;
	font-family:'jdlibianjianb0bf4e5131917d';
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 35px;
	color: rgb(242,159,63);
}
.l-store-title1{
	height: 100px;
	width: 100%;
	font-family:'jdlibianjianb0bf9f5d41917d';
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 35px;
	color: rgb(242,159,63);	
}
.is-visible{
	padding-right: 10px;
}
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Raleway,"Open Sans", sans-serif;
  color: #040404;
  background-color: #ffffff;
}

a {
  color: #2e416a;
  text-decoration: none;
}

/* -------------------------------- 

General Style

-------------------------------- */
.cd-intro {
  position: relative;
  height: 100px;
  width: 100%;
  /* vertically align its content */
  display: table;
  overflow: hidden;
}

.cd-intro-content {
  /* vertically align inside its parent */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 5%;
  background: rgb(242,159,63);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-intro-content h1 {
  font-size: 2.4rem;
  color: #000000;
}
.cd-intro-content .action-wrapper {
  display: inline-block;
}
.cd-intro-content .action-wrapper::after {
  clear: both;
  content: "";
  display: table;
}
.cd-intro-content .action-wrapper > * {
  float: left;
}
@media only screen and (min-width: 768px) {
  .cd-intro-content h1 {
    font-size: 5.2rem;
    font-weight: 300;
  }
  .cd-intro-content p {
    font-size: 1.6rem;
    margin: 1.5em 0 1.9em;
  }
}
.cd-btn.main-action {
  background-color: #fb5e58;
}
@media only screen and (min-width: 480px) {
  .cd-btn {
    padding: 1.2em 1.6em;
  }
}
@media only screen and (min-width: 768px) {
  .cd-btn {
    padding: 1.4em 1.8em;
  }
}

.cd-intro-content h1,
.cd-intro-content h1 span,
.cd-intro-content p,
.cd-intro-content .cd-btn {
  opacity: 0;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.no-cssanimations .cd-intro-content h1, .no-cssanimations
.cd-intro-content h1 span, .no-cssanimations
.cd-intro-content p, .no-cssanimations
.cd-intro-content .cd-btn {
  opacity: 1;
}

/* -------------------------------- 

Reveal

-------------------------------- */
.reveal.cd-intro-content h1 {
  position: relative;
  /* overwrite default style */
  opacity: 1;
  font-weight: 700;
  /* <h1> text is not visible - it is used only as a container for the ::after element */
  color: transparent;
  overflow: hidden;
}
.reveal.cd-intro-content h1::after {
  /* this is the animated text */
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #ffffff;
  opacity: 0;
  -webkit-animation-name: cd-reveal-up;
  -moz-animation-name: cd-reveal-up;
  animation-name: cd-reveal-up;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.no-cssanimations .reveal.cd-intro-content h1::after {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .reveal.cd-intro-content h1 {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }
}

.reveal.cd-intro-content p {
  position: relative;
  margin: 0;
  padding: 1em;
  background-color: #202e4a;
  -webkit-animation-name: cd-reveal-down;
  -moz-animation-name: cd-reveal-down;
  animation-name: cd-reveal-down;
}
@media only screen and (min-width: 1170px) {
  .reveal.cd-intro-content p {
    padding: 1em 1.6em;
  }
}

.reveal.cd-intro-content h1::after,
.reveal.cd-intro-content p {
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.reveal.cd-intro-content .action-wrapper {
  position: relative;
  overflow: hidden;
}
.reveal.cd-intro-content .action-wrapper::before {
  /* this is the loading bar */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #202e4a;
  -webkit-animation: cd-loading 0.4s 0.3s backwards;
  -moz-animation: cd-loading 0.4s 0.3s backwards;
  animation: cd-loading 0.4s 0.3s backwards;
}
.reveal.cd-intro-content .action-wrapper .cd-btn {
  display: block;
  opacity: 1;
  max-width: 200px;
  margin: 1em auto 0;
}
@media only screen and (min-width: 768px) {
  .reveal.cd-intro-content .action-wrapper .cd-btn {
    display: inline-block;
    margin: 0 0 0 1em;
  }
}

@-webkit-keyframes cd-reveal-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes cd-reveal-up {
  0% {
    opacity: 1;
    -moz-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes cd-reveal-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -moz-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cd-loading {
  0% {
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}
@-moz-keyframes cd-loading {
  0% {
    -moz-transform: scaleX(0);
  }
  100% {
    -moz-transform: scaleX(1);
  }
}
@keyframes cd-loading {
  0% {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
}
/* -------------------------------- 

Mask

-------------------------------- */
.mask.cd-intro-content h1 {
  position: relative;
  padding-bottom: 10px;
  /* overwrite default style */
  opacity: 1;
  font-weight: 700;
  /* <h1> text is not visible - it is used only as a container for the ::after element */
  color: transparent;
  overflow: hidden;
}
.mask.cd-intro-content h1::after {
  /* this is the animated text */
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #ffffff;
  -webkit-animation-name: cd-reveal-up;
  -moz-animation-name: cd-reveal-up;
  animation-name: cd-reveal-up;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.mask.cd-intro-content h1 span {
  position: relative;
  display: inline-block;
  opacity: 1;
}
.mask.cd-intro-content h1 span::before {
  /* this is the loading bar */
  content: '';
  position: absolute;
  top: calc(100% + 8px);
  left: -1em;
  height: 2px;
  width: calc(100% + 2em);
  background-color: #ffffff;
  -webkit-animation: cd-loading-mask 1s 0.3s both;
  -moz-animation: cd-loading-mask 1s 0.3s both;
  animation: cd-loading-mask 1s 0.3s both;
}
@media only screen and (min-width: 768px) {
  .mask.cd-intro-content h1 {
    padding-bottom: 20px;
  }
  .mask.cd-intro-content h1 span::before {
    top: calc(100% + 18px);
  }
}

.mask.cd-intro-content p {
  position: relative;
  margin: 0;
  padding: 10px 0 0;
  -webkit-animation-name: cd-reveal-down;
  -moz-animation-name: cd-reveal-down;
  animation-name: cd-reveal-down;
}
@media only screen and (min-width: 768px) {
  .mask.cd-intro-content p {
    padding-top: 20px;
  }
}

.mask.cd-intro-content h1::after,
.mask.cd-intro-content p {
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.mask.cd-intro-content .action-wrapper {
  overflow: hidden;
}
.mask.cd-intro-content .action-wrapper .cd-btn {
  opacity: 1;
  margin: 0 0 0 1.5em;
}
.mask.cd-intro-content .action-wrapper .cd-btn:first-of-type {
  margin-left: 0;
}

@-webkit-keyframes cd-loading-mask {
  0%, 100% {
    -webkit-transform: scaleX(0);
  }
  40%, 60% {
    -webkit-transform: scaleX(1);
  }
}
@-moz-keyframes cd-loading-mask {
  0%, 100% {
    -moz-transform: scaleX(0);
  }
  40%, 60% {
    -moz-transform: scaleX(1);
  }
}
@keyframes cd-loading-mask {
  0%, 100% {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  40%, 60% {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
}
