@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-05-16 19:44:20
 * @version $Id$
 */
 .topnav {
    height: 100px;
    width:100%;
    margin-bottom: -65px;
    z-index: 100;
 }
.b-title
{
    display: flex;
    position: fixed !important;
    left: 0;
    top:0;
    width:100%;
    height:60px;
    background:#fff;
    justify-content: center;
    box-shadow:10px 0px 10px rgba(0,0,0,0.3);
    z-index:10;
}
.b-title ul
{
    height:60px;
    margin:0px auto;
}
.b-title ul li
{
    display:inline-block;
    vertical-align:top;
    *display:inline;
    *zoom:1;
    height:60px;
}
.b-title ul li a.link
{
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 0 24px;
    vertical-align: top;
    line-height: 60px;
    color: #444;
    font-size: 18px;
    font-family: Microsoft Yahei,黑体;
    font-weight: bold;
    
}
.b-title ul li a.link strong
{
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:60px;
    height:60px;
    vertical-align:top;
    font-weight:bold;
    text-align: center;
}
.b-title ul li:hover
{
    cursor:pointer;
    background:#fafafa;
}
.b-current
{
    display: inline-block;
    height: 60px;
    vertical-align: top;
}
.b-title ul li.b-shopping a strong
{
    height:56px;
    overflow:hidden;
    border-bottom:4px solid #ff3232;
}
.canteen-box
{
    display: flex;
    left: 0;
    top: 0;
    width: 100px;
    height: 200px;
    margin-left: 4px;
    border: 2px solid #d1ecff; 
    background: white;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    transition: height 0.5s;
}
.canteen-box a
{
    margin:5px;
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}
.canteen-box a:hover
{
    color: #EB3F2F;
    text-decoration: none;
}
.b-top{
	height: 60px;
}
.build1-food,
.build2-food,
.build3-food,
.build4-food,
.build5-food {
	display: none;
}
 .b-logo
 {
 	display: flex;
 	height: 150px;
 	align-items: center;
 }
 .b-logo img
 {
 	width:100px;
 	margin: 25px;
 }
 .b-logo p
 {
 	font-weight: bold;
 	font-size: 16px;
 	color: #5394C5;
 }
.part1shopping
{
    width:100%;
    position: absolute;
    z-index: 3;
 }
.b-title
{
	height:60px;
	width:100%;
	top:0;
	left: 0;
	display: flex;
	justify-content: center;
	position: fixed !important;
	background:#fff;
	box-shadow:10px 0px 10px rgba(0,0,0,0.3);
	z-index:10;
}
.b-title ul
{
	height:60px;
	margin:0px auto;
}
.b-title ul li
{
	display:inline-block;
	vertical-align:top;
	*display:inline;
	*zoom:1;
	height:60px;
}
.b-title ul li a.link
{
	display: inline-block;
    vertical-align: top;
    padding: 0px 24px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #444;
    font-family: Microsoft Yahei,黑体;
    font-weight: bold;
    position: relative;
}
.b-title ul li a.link strong
{
	font-weight:bold;
	display:inline-block;
	vertical-align:top;
	*display:inline;
	*zoom:1;
	height:60px;
}
.build3-food-img {
	width:100%;
	height:100%;
}
.b-title ul li:hover
{
	cursor:pointer;
	background:#fafafa;
}
.b-current
{
	display: inline-block;
    vertical-align: top;
    height: 60px;
}
.b-title ul li.b-shopping a strong
{
	border-bottom:4px solid #ff3232;
	height:56px;
	overflow:hidden;
}
.goods-padding
{
	padding:15px;
}
.b-contant-title
{
	display: flex;
	height: 25px;
	border-bottom: 3px solid #a7cbff;
	background-color: #FAFAFA;
	align-items: center;
    justify-content: center;
}
.b-contant-shopInfo
{
	height:35px;
	margin:5px 0 5px 0;
	padding-left:20px;
}
.goods
{
	padding: 0;
	margin:0;
}
.detail
{
	display: flex;
	height: 100%;
	border-right:solid 1px #d1ecff;
	align-items: center;
    justify-content: center;
	background-color:white;
}
.product
{
	height: 150px;
	margin-right:-1px; 
	margin-bottom:-1px;
	border:1px solid #d1ecff;
}
.trash
{
	display: flex;
	align-items: center;
	justify-content: center;
}
#total:before
{
	content:'¥';
	margin-right: 5px;
    line-height: 30px;
    font-size: 14px;
    font-weight: normal;
    color:#D20000;
}
.detail-delete
{
	display: flex;
	height: 150px;
	margin-right:-1px; 
	margin-top:-1px;
	border-bottom:solid 1px #d1ecff;
	border-top:solid 1px #d1ecff;
	border-right:solid 1px #FFF;
	align-items: center;
    justify-content: center;
	background-color:white;
}
.b-contant-goods table tr
{
	height: 150px;
}
.num_input
{
	width:20px;
	height: 25px;
	margin:20px;
	border: 0;
	text-align:center;
	}
.total-price
{
	font-size: 16px;
	color:#D20000;
}
.detail img
{
	width:100%;
	height:100%;
}
.font-special-black
{
	font-weight: bold;
	font-size: 16px;
}
.font-special-red
{
	font-weight: bold;
	font-size: 16px;
	color:red;
}
.b-bottom-f1
{
	height: 50px;
}
.part2check
{
	display: none;
}
.b-bottom-commit
{
	color: white;
    font-weight: bold;
    font-size: 15px;
}
.b-contant-up-main
{
    position: relative;
    width:100%;
    height: 1000px;
    z-index: 5;
}
.b-check-main
{
	width:100%;
	margin:auto;
}
.check-main-square
{
	position: relative;
	height: 710px;
	border:2px solid #EB4545;
	margin-top:50px;
}
.receiver-msg
{
	display: flex;
	height: 80px;
	margin:5px 0 5px 5px;
	color: black;
	align-items: center;
	border-bottom: 2px solid #EB4545;

}
.receiver-msg-add
{
	font-size: 14px;
	font-weight: normal;
}
.receiver-msg-num
{
	font-size: 16px;
	font-weight: normal;
}
.receiver-msg-num:before
{
	content:'收货人:';
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    color:black;
    margin: 0 5px 0 5px;
}
.receiver-msg-add:before
{
	content: '收货地址:';
	line-height: 30px;
	font-size:14px;
	font-weight: bold;
	color: black;
	margin:0 5px 0 5px;
}
.receiver-talk
{
	display: flex;
	height: 50px;
	border-bottom: 2px solid #EB4545;
	align-items: center;
}
.receiver-talk-input
{
	display: flex;
	align-items: center;
}
.before-logo
{
	color: #EB4545;
}
.receiver-talk-input:before
{
	content: '买家留言：';
	margin: 0 5px 0 5px;
	font-weight: bold;
}
.selftitle {
    width: 70%;
    height: 22px;
    border:1px solid #000;
    font-size: 18px;
}
.goods-msg
{
	height: 350px;
	margin: 5px;
	border-bottom: 2px solid #EB4545;
}
.goods-msg-single
{
	display: flex;
	height: 30px;
	align-items: center;
}
.result-single-msg
{
	font-weight: bold;
	font-size: 15px;
}
.result-single-mul:before
{
	content: '¥';
}
.single-name
{
	font-size: 14px;
	font-weight: normal;
}
.single-num:before
{
	content: '×';
}
.single-price:before
{
	content: '¥';
}
.price-result
{
	height: 150px;
}
.price-result-single
{
	display: flex;
	height: 40px;
	align-items: center;
}
.pay-result
{
	display: flex;
	height: 58px;
	align-items: center;
}
.price-total
{
	display: flex;
	height: 100%;
	font-weight: normal;
	font-size:15px;
	color: #EB4545;
	align-items: center;
}
.price-total:before
{
	content: '合计：¥ ';
}
.price-topay
{
	display: flex;
	height: 100%;
	color: white;
	background: #EB4545;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}
.b-empty
{
	height: 30px;
}
.b-next
{
	display: flex;
	width:100%;
	height: 30px;
	margin-bottom: 10px;
	cursor: pointer;
	align-items: center;
    justify-content: center;
    background-color:#D20000;
}
.right-arrow
{
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
}
.delete-all
{
	cursor: pointer;
}
.part3confirm
{
	position: absolute;  
	top: 50%;   
    left: 50%;    
	width: 250px;
	height: 200px;
	border:1px solid #EB4545;
    -webkit-transform: translate(-50%, -50%);   
    -moz-transform: translate(-50%, -50%);   
    -ms-transform: translate(-50%, -50%);   
    -o-transform: translate(-50%, -50%);   
    transform: translate(-50%, -50%); 
}
.confirm-title
{
	display: flex;
	width:100%;
	height: 25%;
	color: white;
	align-items: center;
	font-size:16px;
	font-weight: bold;
	justify-content: center;
	background: #EB4545;
}
.confirm-check
{
	width:100%;
	height: 50%;
	padding-left: 105px;
	padding-top: 30px;
	color: #7FCB05;
}
.confirm-btn
{
	display: flex;
	width:100%;
	height: 25%;
	color: white;
	align-items: center;
	justify-content: center;
	background: #EB4545;
	font-size:16px;
	font-weight: bold;
	cursor:pointer;
}