body {
	margin: 0;
	padding: 0;
	background-image: url(../img/bg1.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	/*background-size: 100% 100%;*/
}
div {
	padding: 0px;
}
.topbox {
	width: 100%;
	height: 500px;
	/*background-color:  #FDFFDF;*/
	/*background-color:  #FFFCF0;*/
}
.zyx-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width:100%;
	height: 60px;
	/*background: #F17C67;*/
	/*background: #EB3F2F;*/
	/*background: #Ecf3f6;*/
	cursor: pointer;
}
.zyx-nav-cnt {
	margin:auto;
	list-style:none;
	height: 60px;
}
.zyx-nav-cnt li {
	float: left;
	height: 60px;
}
.zyx-nav-user {
	width: 100px;
}
.words{
	color: #EB3F2F;
	font-weight: bold;
	line-height: 60px;
	text-decoration: none;
}
.words:hover {
	color:black;
}
.zyx-nav-search {
	box-sizing: border-box;
	width: 400px;
	height: 30px;
	margin:0px;
	margin-top:13px;
	border: 2px solid #EB3F2F;
}
.zyx-nav-button {
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	top:2px;
	width: 100px;
	height: 30px;
	margin:0px;
	margin-top: 13px;
	border: 2px solid #EB3F2F;
	line-height: 26px;
	text-align: center;
    color:white;
	/*background-color: #FF4200;*/
	/*background-color: #f15c5c;*/
	background-color: #ff2c00;
}
.zyx-nav-button:hover {
	border: 2px solid red;
}
.blank {
	width: 200px;
	height: 30px;
}
.zyx-nav-userinf {
	display: none;
	position: relative;
	left: 0px;
	width: 250px;
	height: 130px;
	z-index: 9999999;

	background-color: #F5F5F5;
}
.zyx-nav-user:hover {
	z-index: 999;
}
.zyx-nav-user:hover .zyx-nav-userinf {
	display: block;
	position: absolute;
	top:60px;
}
.zyx-nav-sign {
	margin-left: 5px;
}
.zyx-nav-userimg {
	display: inline-block;
	width: 80px;
	height:80px;
	margin: 10px;
	border-radius: 200px;
	background-color: #EF4200;
}
.zyx-nav-userhead {
	margin: auto;
}
.zyx-nav-userinf a {
	text-decoration: none;
	color: gray;
}
.zyx-nav-userinf a:hover {
	color: black;
}
.zyx-nav-userload {
	position: relative;
	top:-80px;
	left:90px;
}
.zyx-nav-userinf p {
	position: relative;
	top:-64px;
	left:105px;
	color:#EF4200;
}
.zyx-nav-userlink {
	position: relative;
	top: -60px;
	left: 20px;
}
.zyx-nav-shopcar {
	width: 150px;
	height: 30px;
	color: #EB3F2F;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
	font-size: 18px;
/*	background-color: #EB3F2F;*/
}
.zyxtopbox-main {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 1010px;
	height: 440px;
	margin:auto;
	z-index: -1;
	background-color: transparent;
}
.zyxtopbox-main-pre {
	width: 66.7%;
	height: 440px;
	z-index: -1;
}
.zyxtopbox-main-note {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 33.3%;
	height: 430px;
	margin-top: 5px;
	margin-left: 10px;
	background-color: #dcedc8;
}
.zyxnote-head ,
.zyxnote-cnt,
.zyxnote-cnt1,
.zyxnote-head1 {
	box-sizing: border-box;
	width: 50%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	z-index: 0;
	color: #EB3F2F;
}
.zyxnote-head:hover,.zyxnote-head1 {
	height: 70px;
}
.zyxnote-head:hover,
.zyxnote-cnt{
	box-shadow: 5px 5px 5px gray;
}
.zyxnote-head1:hover,
.zyxnote-cnt1{
	box-shadow: -5px 5px 5px gray;
}
.zyxnote-cnt,
.zyxnote-cnt1 {
	display: none;
	position: relative;
	width: 333px;
	height:370px;
	z-index: 9999;
	background-color: #dcedc8;
	top:-5px;
}
.zyxnote-cnt1 {
	transform: translate(-50%,0);
}
.zyxnote-head:hover .zyxnote-cnt,
.zyxnote-head1:hover .zyxnote-cnt1{
	display: block;
}
.zyxnote-cnt1 ul {
	list-style: none;
}

/*插件*/
ul, ol { 
	padding: 0;
	margin: 0;
}
.banner { 
	position: relative; 
	overflow: auto; 
	text-align: center;
}
li { 
	list-style: none; 
}
.banner ul li { 
	float: left;
}
#b04 { 
	width: 640px;
}
#b04 ul li img {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 667px;
	height: 430px;
}
#b04 .dots { 
	position: absolute; 
	left: 0; 
	right: 0; 
	bottom: 20px;
}
#b04 .dots li { 
    display: inline-block; 
    width: 20px; 
    height: 20px; 
    margin: 0 4px; 
    text-indent: -999em; 
    border: 2px solid #fff; 
    border-radius: 6px; 
    cursor: pointer; 
    opacity: .4; 
    -webkit-transition: background .5s, opacity .5s; 
    -moz-transition: background .5s, opacity .5s; 
    transition: background .5s, opacity .5s;
}
#b04 .dots li.active 
{
    background: #fff;
    opacity: 1;
}
#b04 .arrow {
    position: absolute; 
	top: 200px;
}
#b04 #al {
 left: 15px;
}
#b04 #ar {
 right: 15px;
}
.arrow {
	width: 20px;
	height: 35px;
}
#zyx-dirnav {
	width:100%;
	height:60px;
	z-index: 999;
	/*background-color: #F5F5F5;*/
}
.zyx-nav-fix {
	position: fixed;
	top:0;
	left:0;
	background-color: lightgray;
}
.zyx-nav-clearfix {
	position: relative;
}
.zyx-dirnav-cnt {
	width: 1000px;
	height: 60px;
	margin:auto;
	margin-top:0;
}
.zyx-dirnav-cnt ul{
	list-style: none;
	margin:0;
}
.zyx-dirnav-cnt ul li {
	float: left;
	width: 150px;
	height: 60px;
	line-height:60px;
	text-align: center;
	cursor: pointer;
}
.zyx-dirnav-cnt ul li a {
	text-decoration: none;
	color:white;
	font-weight: bold;

}
.zyx-dirnav-cnt ul li a:hover {
	color:#ef4200;
}
.zyx-dirnav-cnt ul li:hover {
	background: rgba(128,232,0,0.8);
	/*background-color: #80e800;*/
}
.zyxmain {
	width: 1140px;

	margin:auto;
	text-align: center;
	background-color: transparent;
}
.zyxhead1 {
	height:60px;
	margin:0;
	text-align: center;
	font-size: 28px;
	line-height: 60px;
	background-color: lightblue;
}
.zyxbulid7 {
	width: 1000px;
	height: 600px;
	margin:auto;
	background-color: blue;
}
.zyxbulid7 ul {
	width: 1000px;
	height: 600px;
	padding: 0px;
	margin: 0px;
}
.zyxbulid7 ul li {
	float: left;
	width: 100%;
	height: 100%; 
	padding: 0px;
	margin: 0px;
	overflow: auto;
}
.zyxbuild7-f {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	height: 30%;
	margin: 0px;
	padding: 0px;
	background-color: gray;

}
.zyxbuild7-ftitle {
	width: 10%;
	height: 100%;
	background-color: yellow;
}
.zyxbuild7-dish {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 30%;
	height: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: transparent;
}
.zyxbuild7-dish-img {
	width:80%;
	height:100%;
}
.zyxdish-name {
	width: 100%;
	height: 100%;
	background-color: green;
}
.zyx-buy {
	display: none;
	width: 20%;
	height:100%;
	background-color: pink;
}
.zyxbulid7 .dots { 
	position: relative; 
	left: 400px; 
	top: -50px;	
}
.zyxbulid7 .dots li { 
    display: inline-block; 
    width: 80px; 
    height: 20px; 
    margin: 0 4px; 
    text-indent: -999em; 
    border: 2px solid #fff; 
    border-radius: 6px; 
    cursor: pointer; 
    opacity: .4; 
    -webkit-transition: background .5s, opacity .5s; 
    -moz-transition: background .5s, opacity .5s; 
    transition: background .5s, opacity .5s;
}
.zyxbulid7 .dots li.active 
{
	background-color: rgba(0,0,0,0.5);
    background: lightblue;
    opacity: 1;
}
.zyxsec2 {
	margin:auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 1140px;
	height: 600px;
}
.zyxbuild2 {
	width: 1140px;
	height: 600px;
	margin: auto;
	background-color: lightblue;
}
.zyxsec2 div {
	padding: 0px;
}
.zyxbuild2 ul,.zyxbuild2 li {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.zyxbuild2 ul li {
	float: left;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.zyxbuild2-dish {
	box-sizing: border-box;
	width: 30%;
	height: 50%;
	padding:5px;
	background-color: pink;
}
.zyxbuild-title {
	box-sizing: border-box;
	width:10%;
	height: 50%;
	padding: 5px;
	background-color: lightyellow;
}
.zyxbuild2-dish-img {
	width: 100%;
	height: 70%;
	margin: 0px;
}
.zyxbuild2-dish-words {
	width: 100%;
	height: 30%;
	overflow: hidden;
}
.zyx-words-cont {
	width: 100%;
	height:200%;
	margin:0px;
	position: relative;
	top:0px;
	transition: top 0.5s;
}
.zyxbuild2-dish-cnt,.zyxbuild2-shopcart{
	width: 100%;
	height: 50%;
	background-color: gray;
}
.zyxbuild2-shopcart {
	background-color: blue;
}
.zyx-words-cont:hover {
	top:-100%;
}
.zyxbuild2-dish-title {
	margin:0px;
}
.zyxbuild2-arrow02 {
	height: 600px;
	width: 70px;
	background-color: rgba(7,7,7,0.7);
	text-align: center;
	vertical-align: middle;
}
.zyxbuild2-arrow02:hover {
	background-color: rgba(5,5,5,0.5);
}
.unslider-arrow02 {
	position: relative;
	top:50%;
	transform: translate(-50%,0);
}

