body {
	/*height: 1000px;*/
	margin: 0;
	padding: 0;
	background-image: url(../img/bg0.png);
	background-repeat: repeat;
	/*background-attachment:;*/
	/*overflow-y: scroll;*/
}
.main{
	/*background: #d2f1de;*/
	/*background: linear-gradient(#FFFFFF,#B2011E);*/
	/*background: linear-gradient(#d3efe0,#e0f5f0);*/
	background-image: url(../img/bg2.jpg);
	background-repeat: no-repeat;
	background-position: -50px -100px;
}
div {
	padding: 0px;
}
.topbox {
	width: 100%;
	height: 605px;
	/*background-color:  #FDFFDF;*/
	/*background-color:  #FFFCF0;*/
}
.zyx-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width:100%;
	height: 60px;
	/*background: #F17C67;*/
	/*background: #EB3F2F;*/
	/*background: #Ecf3f6;*/
	cursor: pointer;
}
.zyx-nav-cnt {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin:auto;
	list-style:none;
	height: 60px;
	width: 1000px;
}
.zyx-nav-cnt li {
	height: 60px;
}
.zyx-nav-user {
	width: 200px;
	height: 60px;
}
.welcome-cnt {
	font-size: 20px;
}
.zyxnote-cnt1 ul li a,
.zyx-nav-shopcar a,
.words{
	color: #EB3F2F;
	font-weight: bold;
	line-height: 60px;
	text-decoration: none;
}
.words:hover {
	color:black;
}
.zyx-nav-search-fa {
	margin-top:13px;
	border-bottom: 1px solid #EB3F2F;
	border-top: 2px solid #EB3F2F;
	border-left:2px solid #EB3F2F;
	background-color: #EB3F2F;
}
.zyx-nav-search {
	box-sizing: border-box;
	width: 400px;
	height: 30px;
	margin:0px;
	/*border: 2px solid #EB3F2F;*/
}
.zyx-nav-search:focus {
	outline: none
}
.logo {
	margin:auto;
	padding:10px;
	width:300px;
	height:300px;
	text-align: center;
	background-color:transparent;
}
.logo-cnt {
	width: 200px;
	height: 200px;
	margin:auto;
	border-radius: 200px;
	overflow: hidden;
}
.logo-cnt img {
	width: 200px;
	height: 200px;
	border-radius: 200px;
}
.zyx-nav-button {
	display: inline-block;
	box-sizing: border-box;
	width: 100px;
	height: 30px;
	margin:0px;
	line-height: 26px;
	text-align: center;
    color:white;
	/*background-color: #FF4200;*/
	/*background-color: #f15c5c;*/
	background-color: #ff2c00;
}
.zyx-nav-userinf {
	display: none;
	position: absolute;
	top:60px;
	left: 0px;
	width: 300px;
	height: 170px;
	z-index: 9999999;
	background-color: #F5F5F5;
}
.zyx-nav-sign {
	margin-left: 5px;
	width: 100px;
}
.zyx-nav-userimg {
	display: inline-block;
	width: 100px;
	height:100px;
	margin: 10px;
	border-radius: 200px;
	background-color: #EF4200;
}
.zyx-nav-userhead {
	margin: auto;
}
.zyx-nav-userinf a {
	text-decoration: none;
	color: gray;
}
.zyx-nav-userinf a:hover {
	color: black;
}
.zyx-nav-userload {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 20px;
	top:-80px;
	left:110px;
	background-color: transparent;
}
.zyx-nav-userinf p {
	position: relative;
	top:-64px;
	left:148px;
	color:#EF4200;
}
.zyx-nav-userlink {
	position: relative;
	top: -75px;
	left: 2px;
}
.zyx-nav-shopcar {
	width: 150px;
	height: 60px;
	margin-left: 100px;
	color: #EB3F2F;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
	font-size: 18px;

/*	background-color: #EB3F2F;*/
}
.zyxtopbox-main {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	width: 1010px;
	height: 540px;
	margin:auto;
	z-index: -1;
	background-color: transparent;
}
.zyxtopbox-main-pre {
	width: 66.7%;
	height: 440px;
	z-index: -1;
}
.zyxtopbox-main-note {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 33.3%;
	height: 440px;
	margin-top: 5px;
	margin-left: 10px;
	/*background-color: #dcedc8;*/
	background-color: rgba(255,255,255,0.6);
	/*opacity: 0.5;*/
}

.zyxnote-head ,
.zyxnote-head1 {
	box-sizing: border-box;
	width: 50%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	z-index: 0;
	color: #EB3F2F;
	border-bottom: 1px solid #EB3F2F;
}
.zyxnote-cnt,
.zyxnote-cnt1
{
	box-sizing: border-box;
	width: 50%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	z-index: 0;
	color:white;
	border-bottom: 1px solid #EB3F2F;
}
.zyxnote-cnt1 ul li a {
	color:white;
}
.zyxnote-head:hover,.zyxnote-head1 {
	height: 60px;
}
.zyxnote-head:hover,
.zyxnote-cnt{
	box-shadow: 5px 5px 5px gray;
}
.zyxnote-head1:hover,
.zyxnote-cnt1{
	box-shadow: -5px 5px 5px gray;
}
.zyxnote-cnt,
.zyxnote-cnt1 {
	display: none;
	position: relative;
	width: 333px;
	height:385px;
	z-index: 9999;
	background-color: #EB3F2F;
	top:-5px;
}
.zyxnote-cnt1 {
	transform: translate(-50%,0);
}
.zyxnote-head:hover .zyxnote-cnt,
.zyxnote-head1:hover .zyxnote-cnt1{
	display: block;
}
.zyxnote-cnt1 ul {
	list-style: none;
}

/*插件*/
ul, ol { 
	padding: 0;
	margin: 0;
}
.banner { 
	position: relative; 
	overflow: auto; 
	text-align: center;
}
li { 
	list-style: none; 
}
.banner ul li { 
	float: left;
}
#b04 { 
	width: 640px;
}
#b04 ul li img {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 667px;
	height: 430px;
}
#b04 .dots { 
	position: absolute; 
	left: 0; 
	right: 0; 
	bottom: 20px;
}
#b04 .dots li { 
    display: inline-block; 
    width: 20px; 
    height: 20px; 
    margin: 0 4px; 
    text-indent: -999em; 
    border: 2px solid #fff; 
    border-radius: 6px; 
    cursor: pointer; 
    opacity: .4; 
    -webkit-transition: background .5s, opacity .5s; 
    -moz-transition: background .5s, opacity .5s; 
    transition: background .5s, opacity .5s;
}
#b04 .dots li.active 
{
    background: #fff;
    opacity: 1;
}
#b04 .arrow {
    position: absolute; 
	top: 200px;
}
#b04 #al {
 left: 15px;
}
#b04 #ar {
 right: 15px;
}
.arrow {
	width: 20px;
	height: 35px;
}
#zyx-dirnav {
	width:100%;
	height:60px;
	z-index: 999;
	/*background-color: #F5F5F5;*/
}
.zyx-nav-fix {
	position: fixed;
	top:0;
	left:0;
	background-color: white;
}
.icon-xiaolian {
	font-size: 100px;
	color: white;
}
.zyx-nav-fix .zyx-dirnav-cnt ul li a{
	/*color: white;*/
	color:red;
}
.zyx-nav-clearfix {
	position: relative;
}
.zyx-dirnav-cnt {
	width: 1000px;
	height: 60px;
	margin:auto;
	margin-top:0;
}
.zyx-dirnav-cnt ul{
	list-style: none;
	margin:0;
}
.zyx-dirnav-cnt ul li {
	float: left;
	width: 150px;
	height: 60px;
	line-height:60px;
	text-align: center;
	cursor: pointer;
}
.zyx-dirnav-cnt ul li a {
	text-decoration: none;
	color:white;
	font-weight: bold;

}
/*.zyx-dirnav-cnt ul li a:hover {
	color:#ef4200;
}*/
.zyx-dirnav-cnt ul li:hover {
	background: #EB3F2F;
	/*background-color: #80e800;*/
}
.zyx-dirnav-cnt ul li:hover a{
	color: white;
}
.zyxmain {
	width: 1140px;

	margin:auto;
	text-align: center;
	background-color: transparent;
}
.zyxhead1 {
	height:60px;
	margin:0;
	text-align: center;
	font-size: 28px;
	line-height: 60px;
	background-color: white;
}
.zyxbulid7 {
	width: 1000px;
	height: 600px;
	margin:auto;
	background-color: white;
}
.index1,
.index2,
.index3,
.index4,
.index5 {
	width: 100%;
	height: 60px;
}
.zyxbulid7 ul {
	width: 1000px;
	height: 600px;
	padding: 0px;
	margin: 0px;
}
.zyxbulid7 ul li {
	float: left;
	width: 100%;
	height: 100%; 
	padding: 0px;
	margin: 0px;
	overflow: auto;
}
.zyxbuild7-f {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 30%;
	margin: 0px;
	padding: 0px;
	background-color: transparent;

}
.zyxbuild7-ftitle {
	width: 10%;
	height: 100%;
	text-align: center;
	line-height: 100%;
	background-color: transparent;
}
.zyxbuild7-dish {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 30%;
	height: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: transparent;
}
.zyxbuild7-dish-img {
	width:80%;
	height:100%;
}
.zyxdish-name {
	width: 20%;
	height: 100%;
	background-color: #EB3F2F;
}
.zyx-buy {
	display: none;
	width: 20%;
	height:100%;
	background-color: white;
}
.zyxbulid7 .dots { 
	position: relative; 
	left: 400px; 
	top: -50px;	
}
.zyxbulid7 .dots li { 
    display: inline-block; 
    width: 80px; 
    height: 20px; 
    margin: 0 4px; 
    text-indent: -999em; 
    border: 2px solid EB3F2Fred; 
    border-radius: 6px; 
    cursor: pointer; 
    opacity: .4; 
    -webkit-transition: background .5s, opacity .5s; 
    -moz-transition: background .5s, opacity .5s; 
    transition: background .5s, opacity .5s;
}
.zyxbulid7 .dots li.active 
{
	border:1px solid #EB3F2F;
	/*background-color: rgba(0,0,0,0.5);*/
    background: #EB3F2F;
    opacity: 1;
}
.zyxempty{
	height: 50px;
	background: transparent;
}
.zyxsec2 {
	margin:auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 1140px;
	height: 600px;
}
.zyxbuild2 {
	width: 1140px;
	height: 600px;
	margin: auto;
	background-color: lightblue;
}
.zyxsec2 div {
	padding: 0px;
}
.zyxbuild2 ul,.zyxbuild2 li {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.zyxbuild2 ul li {
	float: left;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.zyxbuild2-dish {
	box-sizing: border-box;
	width: 30%;
	height: 50%;
	padding:5px;
	background-color: white;
}
.zyxbuild-title {
	display: flex;
	/*align-items: center;*/
	justify-content: center;
	box-sizing: border-box;
	width:10%;
	height: 50%;
	padding: 5px;
	background-color: lightyellow;
}
.zyxbuild2-dish-img {
	width: 100%;
	height: 80%;
	margin: 0px;
}
.zyxbuild2-dish-words {
	width: 100%;
	height: 20%;
	overflow: hidden;
}
.zyx-words-cont {
	width: 100%;
	height:200%;
	margin:0px;
	position: relative;
	top:0px;
	transition: top 0.5s;
}
.zyxbuild2-dish-cnt,.zyxbuild2-shopcart{
	width: 100%;
	height: 50%;
	background-color: white;
}
.zyxbuild2-shopcart {
	background-color: #EB3F2F;
}
.zyx-words-cont:hover {
	top:-100%;
}
.zyxbuild2-dish-title {
	margin:0px;
}
.zyxbuild2-arrow02 {
	height: 600px;
	width: 70px;
	background-color: transparent;
	text-align: center;
	vertical-align: middle;
}
/*.zyxbuild2-arrow02:hover {
	background-color: rgba(5,5,5,0.5);
}*/
.unslider-arrow02 {
	position: relative;
	top:50%;
	transform: translate(-50%,0);
}
.totop {
	width: 50px;
	height:50px;
	position: fixed;
	bottom: 50px;
	right:50px;
	display: none;
	background-color:rgba(7,7,7,0.7);
	box-shadow: 1px 1px 5px black;
	transition: top 0.5s;
}
.totop:hover {
	bottom: 55px;
}
.foot {
	    background-color: white;
	width: 100%;
	margin-top: 50px;
	border-top:1px solid #cccccc;
}
.foot-cnt {
	width: 1200px;
	margin:auto;
}
.foot-cnt-head {
	width: 100%;
    padding-top:20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}
.foot-title {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}
.foot-title li {
	list-style: none;
	width: 20%;
	height: 25px;
	border-left: 1px solid #cccccc;
	line-height: 25px;
	text-align: center;
	color: gray;
}
.foot-title li:first-child {
	border: 0;
}
.foot-cnt-body {
	width: 1200px;
	margin:auto;
}
.foot-body {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px; 
}
.foot-body li {
	text-align: left;
	height: 120px;
	border:0;
}
.foot-body li p a{
	font-weight: normal;
	color: gray;
}
.foot-body li p strong {
	font-weight: bold;
	color: gray;
}
.foot-body li {
	height:200px;
}
.foot-body li h5{
	color:red;
	font-size:20px;
}
.foot-body li p a:hover {
	color:red;
}
.wall {
	margin-top: 50px;
	width: 1200px;
	margin:auto;
	margin-top: 50px;
	
}
.wall-cnt {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 1000px;
	height: 400px;
	border: 3px solid red;
	margin:auto;
	border-radius: 5px;
	background: rgba(0,0,0,0.7);
	background-color: white;
}
.wall-people {
	width: 500px;
	height: 400px;
	text-align: center;
}
.wall-people:hover {
	background-color: red;
}
.wall-people:hover .icon-icon8,
.wall-people:hover .wall-people-title
 {
	color: white;
} 
.icon-icon8 {
	line-height: 300px;
	font-size: 200px;
	color:red;
}
.wall-people-title {
	font-size: 30px;
	color: red;
	font-weight: bold;
	margin-top: 0px;
}
.wall-people-top {
	width: 500px;
	height: 200px;
	line-height: 200px;
	font-size: 30px;
	color:red;
	background-color: white;
}
.wall-people-top:hover {
	background-color: red;
	color: white;
}
.other {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width:1000px;
		height: 400px;
		margin:auto;
	}
	.other-cnt {
		width: 450px;
		height: 180px;
		margin:auto;
		border: 1px solid red;
		text-align: center;
		line-height: 180px;
		color:red;
		font-size: 30px;
		transition:box-shadow 0.3s；
		background:rgba(0,0,0,0.7);
		background-color: white;

	}
	.other-cnt:hover {
		box-shadow: 2px 2px 5px red;
	}
.l-rotatel {
	transition: .3s linear;
	transform-origin:center center;
    transform: rotate(360deg);
}
.l-rotater {
	transition: .3s linear;
	transform-origin:center center;
    transform: rotate(0deg);
}
