/**PART1: 导航栏**/
.container-fluid {
    width: 100%;
    padding: 0;
    margin: auto;
}
.topnav {
    height: 100px;
    margin-bottom: -40px;
}
<<<<<<< HEAD
.b-title
{
    height:60px;
    width:100%;
    top:0;
    left: 0;
=======
.topnav-title {
>>>>>>> a38aef26bdf512fec2eca28b11ee0b24a26bdab6
    display: flex;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    justify-content: center;
<<<<<<< HEAD
    position: fixed !important;
    background:#fff;
    box-shadow:10px 0px 10px rgba(0,0,0,0.3);
    z-index:10;
}
.b-title ul
{
    height:60px;
/*  width:990px;*/
    margin:0px auto;
}
.b-title ul li
{
    display:inline-block;
    vertical-align:top;
    *display:inline;
    *zoom:1;
    height:60px;
=======
    align-items: center;

}
.topnav-title ul {
    height: 60px;
    margin: auto;
    padding: 0;
}
.topnav-title ul li {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    height: 60px;
>>>>>>> a38aef26bdf512fec2eca28b11ee0b24a26bdab6
}
.b-title ul li a.link
{
    display: inline-block;
    vertical-align: top;
    padding: 0 24px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #444;
    font-family: Microsoft Yahei,黑体;
    font-weight: bold;
    position: relative;
}
<<<<<<< HEAD
.b-title ul li a.link strong
{
    font-weight:bold;
    display:inline-block;
    vertical-align:top;
    *display:inline;
    *zoom:1;
    width:60px;
    height:60px;
    text-align: center;
}
.b-title ul li:hover
{
    cursor:pointer;
    background:#fafafa;
=======
.topnav-title ul li a.link strong {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    height: 60px;
}
.topnav-title ul li:hover {
    background: #fafafa;
    cursor: pointer;
>>>>>>> a38aef26bdf512fec2eca28b11ee0b24a26bdab6
}
.b-current
{
    display: inline-block;
    height: 60px;
    vertical-align: top;
}
<<<<<<< HEAD
.b-title ul li.b-shopping a strong
{
    border-bottom:4px solid #ff3232;
    height:56px;
    overflow:hidden;
=======
.topnav-title ul li.b-active a strong {
    border-bottom: 4px solid #ff3232;
    height: 56px;
    overflow: hidden;
>>>>>>> a38aef26bdf512fec2eca28b11ee0b24a26bdab6
}
/*.b-canteen
{
    width:80px;
}*/
.canteen-box
{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100px;
    height: 200px;
    margin-left: 4px;
    border: 2px solid #d1ecff; 
    background: white;
    transition: height 0.5s;
}
.canteen-box a
{
    margin:5px;
    font-weight: bold;
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.canteen-box a:hover
{
    color: #EB3F2F;
    text-decoration: none;
}

/*三块div构架：评论区、发布话题、回复*/
.part1 {
    display: flex;
    flex-direction: column;
}
.part2{
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.part3{
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

/*评论区*/
.total {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    height: 100%;
}
.title {
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}
.title-word {
    display: inline-block;
    color: green;
    font-size: 5em;
    /*font-family: ´微软雅黑´;*/
    font-family:"楷体",Georgia,Serif;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#FF6767), to(rgba(51, 51, 51, 0.5)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*发布话题按钮*/
.createnew {
    width: 100px;
    height: 25px;
    background: #FF6767;
    border-radius: 5px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}

/*一个评论元素，头像+评论+回复内容*/
.element {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
}
.headimg {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}
.headimage {
    height: 70px;
    width: 70px;
}
.message {
    width: 90%;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.message-talktitle {
    font-weight: bold;
    font-size: 20px;
}
.message-titleandtime {
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.talkmessage {
    display: flex;
    height: 120px;
    width: 100%;
}
.self {
    display: -webkit-box;
    width: 100%;
    height: 100px;
    text-indent: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
}
.self:first-letter {
    font-size: 30px;
    color: #ff0000;
    float: left;
}
.talkmessage_self {
    width: 80%;
    height: 120px;
}


/*显示全部内容和收起*/
.showallmes {
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
    color: #2046C0;
    font-size: 15px;
    cursor: pointer;
}

.othertalk>div, .self>p {
    margin-bottom: 0;
    margin-left: 5px;
    margin-top: 2px;
}
.other {
    display: flex;
    width: 100%;
    height: 120px;
}
.other-element {
    width: 80%;
    height: 120px;
}
.other-element-talk {
    width: 100%;
    height: 100px;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
.push {
    display: flex;
    height: 100px;
    width: 20%;
    justify-content: center;
    align-items: center;
}
.pushbutton {
    width: 50px;
    height: 25px;
    background: #FF6767;
    border-radius: 5px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}
.message-good {
    display: flex;
    width: 20%;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.message>div {
    margin-top: 5px;
    margin-left: 5px;
}
#heart{
    display: flex;
    margin-top: 0;
    align-items: center;
    justify-content: center;
}
.pagebox {
    width: 100%;
    margin-top: 5px;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}
.part2-title {
    width: 75%;
    height: 140px;
    margin-top: 70px;
}
.selftitle {
    width: 100%;
    height: 80px;
    border: 1px solid #000;
    font-size: 18px;
}
.part2-self,.part3-self {
    width: 75%;
    height: 250px;
    font-size: 20px;
}
.part2-self-ju , .part3-self-ju{
    width: 100%;
    height: 200px;
    border: 1px solid #000;
    font-size: 20px;
}
.part2 p {
    font-size: 20px;
}
.twobutton {
    display: flex;
    width: 75%;
    height: 100px;
    justify-content: flex-end;
}
.nobutton,.yesbutton,.part3nobutton, .part3yesbutton {
    width:85px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    background: #FF6767;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
    cursor: pointer;
}
.username {
    font-weight:bold;
    font-size: 15px;
}
.onetalk {
    display: flex;
    flex-direction: row;
}
