/**PART1: 导航栏**/
.container-fluid {
    width: 100%;
    padding: 0;
}
.topnav {
    height: 100px;
    margin-bottom: -40px;
}
.topnav-title {
    height:60px;
    width:100%;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    background:#fff;
}
.topnav-title ul {
    height:60px;
    margin:0px auto;
}
.topnav-title ul li {
    display:inline-block;
    vertical-align:top;
    *display:inline;
    height:60px;
}
.topnav-title ul li a.link {
    display: inline-block;
    vertical-align: top;
    padding: 0px 24px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #444;
    font-family: Microsoft Yahei,黑体;
    font-weight: bold;
    position: relative;
}
.topnav-title ul li a.link strong {
    font-weight:bold;
    display:inline-block;
    vertical-align:top;
    *display:inline;
    height:60px;
}
.topnav-title ul li:hover {
    cursor:pointer;
    background:#fafafa;
}
#topnav-title-nav li.b-active {
    display: inline-block;
    vertical-align: top;
    height: 60px;
}
.topnav-title ul li.b-active a strong {
    border-bottom:4px solid #ff3232;
    height:56px;
    overflow:hidden;
}

/*三块div构架：评论区、发布话题、回复*/
.part1 {
    display: flex;
    flex-direction: column;
}
.part2createnew{
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.part3push {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

/*评论区*/
.total {
    width: 80%;
    margin-left:10%;
    margin-top: 20px;
    height: 100%;
}
.title {
    height: 100px;
    border:1px solid #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*发布话题按钮*/
.createnew {
    width:100px;
    height: 25px;
    font-size: 15px;
    color: #fff;
    background: #FF6767;
    border-radius: 5px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}

/*一个评论元素，头像+评论+回复内容*/
.element {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.headimg {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}
.headimage {
    height: 70px;
    width: 70px;
    /*border: 1px solid #000;*/
}
.message {
    width: 90%;
    /*border:1px solid #000;*/
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.talktitle {
    font-weight: bold;
    font-size: 20px;
}
.titleandtime {
    width:80%;
    display: flex;
    justify-content: space-between;
}
.talkmessage {
    height: 120px;
    width: 100%;
    /*border:1px solid #000;*/
    display: flex;
}
.self {
    width:100%;
    /*border:1px solid #000;*/
    /*border-radius:5px;*/
    height:100px;
    text-indent:15px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
}
.self:first-letter {
    font-size:30px;
    color:#ff0000;
    float:left;
}
.talkmessage_self {
    width:80%;
    height: 120px;

}


/*显示全部内容和收起*/
.showallmes {
    display:flex;
    justify-content:flex-end;
    text-decoration: underline;
    color: #2046C0;
    font-size: 15px;
    cursor: pointer;
}
.folder {
    display:flex;
    justify-content:flex-end;
    text-decoration: underline;
    color: #2046C0;
    font-size: 15px;
    cursor: pointer;
}


.othertalk>div, .self>p {
    margin-bottom: 0;
    margin-left:5px;
    margin-top:2px;
}
.other {
    width: 100%;
    height: 120px;
    /*border:1px solid #000;*/
    display: flex;
    /*margin-top: 10px;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}
.otherelement {
    width:80%;
    height: 120px;
}
/*.othertalk {*/
    /*width: 100%;*/
    /*height: 100px;*/
    /*!*border: 1px solid #000;*!*/
    /*!*border-radius: 5px;*!*/
/*}*/
.othertalk {
    width:100%;
    /*border:1px solid #000;*/
    /*border-radius:5px;*/
    height:100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.push {
    height: 100px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pushbutton {
    width:50px;
    height: 25px;
    font-size: 15px;
    color: #fff;
    background: #FF6767;
    border-radius: 5px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}
.message-good {
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message>div {
    margin-top: 5px;
    margin-left: 5px;
}
#heart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.pagebox {
    width: 100%;
    margin-top: 5px;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}

.part2-title {
    width: 75%;
    height: 140px;
    margin-top: 70px;
}
.selftitle {
    width: 100%;
    height: 80px;
    border:1px solid #000;
    font-size: 18px;
    /*word-break:break-all;*/
    /*overflow-x:scroll;*/
}
.part2-self,.part3-self {
    width: 75%;
    height: 250px;
    font-size: 20px;
}
.part2-self-ju , .part3-self-ju{
    width: 100%;
    height: 200px;
    border: 1px solid #000;
    font-size: 20px;
}
.part2createnew p {
    font-size: 20px;
}
.twobutton {
    display: flex;
    width: 75%;
    height: 100px;
    justify-content: flex-end;
}
.nobutton,.yesbutton,.part3nobutton, .part3yesbutton {
    width:85px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    background: #FF6767;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
    cursor: pointer;
}
.username {
    font-weight:bold;
    font-size: 15px;
}
.onetalk {
    display: flex;
    flex-direction: row;
}


/*.blur {*/
    /*filter: url(blur.svg#blur); !* FireFox, Chrome, Opera *!*/
    /*-webkit-filter: blur(5px); !* Chrome, Opera *!*/
    /*-moz-filter: blur(5px);*/
    /*-ms-filter: blur(5px);*/
    /*filter: blur(5px);*/
    /*filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); !* IE6~IE9 *!*/
/*}*/